@charset "UTF-8";
/* CSS Document */

/* the following applies no matter what */
.bold {
	font-weight:bold;
}

.italic {
		font-style:italic;
	}

.sans {
		font-family:sans-serif;
	}

.serif {
			font-family:serif;
		}

/* the following are used to make div tables suitable for images */
div.gallery {
	max-width:100%;
	display:table;
}

div.grow {
	display:table-row;
}

div.gcell {
	display:table-cell;
	max-width:50%;
	vertical-align:top;
}
}
